.container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  cursor: pointer;
}

.button:disabled {cursor: not-allowed;
}
/* Actual command not found, wanted to execute _typescript.applyCodeActionCommand /109807 */

